$blue: rgb(0, 142, 254);
$label-gray: rgb(146, 146, 146);
$background-gray: rgb(251, 251, 251);
$word-grey: rgb(117, 117, 117);
$white: rgb(237, 245, 248);
$black: rgb(34, 34, 34);
$footbar-blue: rgba(43, 153, 255, 0.74)