@use '../../styles/global.scss' as *;
@use '../../styles/variables.scss' as *;


.guestHome {

    &__tab {
        margin-top: 27rem;
        position: absolute;
        top: 0;
        padding: .6rem;
        width: 37rem;

    }

    &__title-wrapper {
        width: 19rem;
        height: 6rem;
        background-color: $white;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: -5rem;
    }

    &__title {
        color: $blue;
        text-align: center;
        padding-top: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__search-wrapper {
        width: 34rem;
        padding: 1.5rem 3rem;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }

    &__search {
        width: 2.5rem;
        position: absolute;
        right: 4rem;
        top: 2.8rem;
    }

    &__input {
        border-radius: 50%;
    }

    &__filters {
        display: flex;
        padding: 0 4rem;
        justify-content: space-between;
        gap: 2rem;
    }

    &__criteria {
        width: 14rem;
        height: 6rem;
        background-color: $white;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        // justify-content: space-around;
        border: .3rem solid $blue;
        cursor: pointer;

        &:hover {
            background-color: rgb(218, 240, 248);
        }
    }

    &__text {
        font-size: 1.5rem;
        text-align: right;
    }

    &__icons {
        width: 3.5rem;
    }

    &__recom {
        display: flex;
        overflow-y: scroll;

    }

    &__subtitle {
        padding: 2rem 4rem;
        font-size: 1.5rem;
        width: 100%;
    }

    &__card {
        width: 19rem;
        padding: 1rem;
        border-radius: 1rem;
        position: relative;
        height: 23rem;

        &-wrapper {
            margin-left: 4rem;
            width: 20.5rem;
            background-color: white;
            border-radius: 1rem;
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            height: 22rem;
        }
    }

    &__img {
        width: 100%;
        height: 15rem;
        background-position: 150%;
        background-size: cover;
        border-radius: 1rem;
    }

    &__heart {
        width: 3rem;
        position: absolute;
        top: 14.5rem;
        right: 2rem;
    }

    &__pin {
        width: 1.8rem;
    }

    &__location-info {
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__city,
    &__money {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__city {
        margin-left: .5rem;

    }

    &__dropdown {
        background-color: rgba(149, 206, 249, 0.925);
        width: 27.8rem;
        height: 19rem;
        margin-left: 4rem;
        border-radius: 1rem;
        z-index: 5;
        position: absolute;
        margin-top: 2rem;
    }

    &__dollar {
        width: 2.2rem;
    }

    &__dollar-list {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
    }

    &__items {
        border: .2rem solid $white;
        box-shadow: 0px 0px 1px 2px rgb(205, 235, 245);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        background-color: $white;

        &:hover {
            border: .2rem solid rgb(203, 232, 243);
            background-color: rgb(204, 234, 242);
            box-shadow: 0px 0px 1px 2px rgb(203, 232, 243);
        }

        &-one {
            width: 2.5rem;
        }

        &__dollar {
            &:hover {
                background-image: url('../../assets/icons/whtDollar.png');
            }
        }
    }

    &__duration-list {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
    }

    &__day-item {
        border: .2rem solid $white;
        box-shadow: 0px 0px 1px 2px rgb(205, 235, 245);
        background-color: $white;
        border-radius: 5px;
        width: 5rem;
        height: 3.5rem;
        font-weight: 700;
        font-size: 1.5rem;
        color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border: .2rem solid $blue;
            background-color: $blue;
            color: white;
            box-shadow: none;
        }
    }

    &__btn-wrapper {
        width: 10rem;
        margin: 2rem auto;
    }

}