@use '../../styles/global.scss' as *;
@use '../../styles/variables.scss' as *;

.header {
    height: 30rem;
    background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(50, 97, 137, 0.5)), url('../../assets/images/suitcase.jpg');
    background-size: 150%;
    background-position: center;
    position: absolute;
    top: 2.5rem;
    width: 37rem;
    left: .5rem;
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;

}