@use '../../styles/global.scss' as *;
@use '../../styles/variables.scss' as *;


.cityR {
    margin-top: -3.5rem;
    width: 37rem;
    margin-left: .5rem;
    height: 79.5rem;
    background-color: $background-gray;
    border-radius: 3.5rem;

    &__results {
        overflow-x: scroll;
        height: 55rem;
        margin-top: 1.5rem;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    &__sort {
        margin-right: 2.7rem;
        width: 7rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        &-item {
            height: 5rem;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            &:nth-child(even) {
                background-color: rgb(237, 246, 249);
            }

            &:nth-child(odd) {
                background-color: rgb(228, 244, 249);
            }

            &:hover {
                background-color: rgb(215, 216, 216);
            }
        }

        &-list {
            width: 100%;
            position: absolute;
            width: 7rem;
            right: 0;
            margin-right: 3rem;
            top: 4rem;
            z-index: 2;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-right: 2.8rem;
        }
    }

    &__sortIcon {
        width: 3rem;
    }

    &__rating {
        width: 5.5rem;

        &-down {
            margin-left: .5rem;
        }

        &--up {
            width: 6.5rem;
            margin-left: 1.2rem;
        }
    }

    &__total {
        color: $blue;
        font-size: 1.8rem;
        align-self: center;
        margin: 1rem 0 1rem 3rem;
    }
}