@use '../../styles/global.scss' as *;
@use '../../styles/variables.scss' as *;


.cityR {
    margin-top: -3.5rem;
    width: 37rem;
    margin-left: .5rem;
    height: 79.5rem;
    background-color: $background-gray;
    border-radius: 3.5rem;

}