@use '../../styles/global.scss' as *;
@use '../../styles/variables.scss' as *;



.nav {

    height: 7rem;
    padding: 0 2rem;
    padding-top: 2rem;
    background-color: rgba(237, 245, 248, 0.957);
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    position: absolute;
    top: 2.5rem;
    width: 37rem;
    z-index: 100;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 12rem;
    }

    &__user {
        width: 3rem;

        &--img {
            height: 4rem;
            width: 4rem;
            object-fit: 150%;
            border-radius: 50%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__log {
        font-size: 1.6rem;
        font-weight: 700;
        color: black;
        cursor: pointer;
    }
}